<header class="header">
<p>Khôra</p>
 </header><!-- /header -->
 <div class="background-registrations">
  <div class="introduction">
   <p>Khôra(コラ)とは、長文のやり取りに適したコミュニケーションツールサービスです。<br>公開型ではなく、特定の相手と長文で会話ができます。</br></p>
 </div>
 <div class="contents-row">
  <h2>Sign up</h2>

 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

 <%= render "devise/shared/links" %>
</div>

 <% end %>

</div>

