 <div class="chat"> <!-- 全体 -->
  <div class="chat-side"> <!-- chat-side 全体 -->
   <div class="chat-user clearfix"> <!--chat上のユーザー -->
    <span class="username">
      <p><%= current_user.username %></p>
    </span>

    <div class="chat-user_actions"> <!-- font awesome-->
     <a class="chat-user_action" href="/groups/new">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     </a>
     <a class="chat-user_action" href="/groups/edit">
  <!--     <i class="fa fa-user-o" aria-hidden="true"></i> -->
     </a>
    </div> <!-- chat-user_actions -->
   </div> <!-- chat-user clearfix -->


   <ul class="chat-groups">
        <p><% @user_notes.each do |note| %>
              <% note.users.each do |user| %>
                     <%= link_to "/notes/#{note.id}/message", method: :get do %>  <!-- 数字を表示させたい時はlink_to method 内で数字にしたい場所を#{}にする -->

                <%= user.username unless current_user.id == user.id %>
               <% end %>
              <% end %> <!-- @user_notes.each do |note| -->
            <% end %> <!-- note.users.each do |user| -->
        </p>
    <li class="chat-group">
     <a class="chat-group_link" href="/note"> </a>
      <% @notes.each do |note| %>
      <div>
      <a href="/notes/<%= note.id %>"></a>
      </div>
     <% end %> <!-- notes each -->
    </li>
   </ul>
  </div> <!-- chat side -->
  <div class="chat-body">
    <div class="chat-header clearfix">
    <div class="chat-header_left">
    </div> <!-- chat-header_left -->
    <div class="chat-header_right">
       <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "chat-header_edit-btn" %>

    </div> <!-- chat-header_right -->
   </div> <!-- chat-header clearfix -->
  </div><!--  chat-body -->
 </div> <!-- chat -->
