<header class="header" >
<p>Khôra</p>
</header>

<div class="new-content">
  <%= form_for(@posts) do |f| %>
    <div class="note-box">
      <div class="right-box clearfix">
        <div class="inner-right-box-new">
          <label style="display: inline">
            <%= f.file_field :image %>
            <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
          </label>
          <%= f.submit "Post your writing", class: "content_edit-btn" %>
        </div>
      </div> <!-- right box clearfix -->

     <div class="title-and-body">
      <div class="body-title">
        <%= f.text_area :name, :placeholder => "Title"%>
        <%= f.hidden_field :note_id, value: params[:format] %>
      </div>

<!--      <form action="update.php" method="post" enctype="multipart/form-data">
    <input type="file" name="upfile" size="30" value=""> -->
  </form>
      <div class="body-wrapper">
        <%= f.text_area :text,  class: "inner-wrapper", :placeholder => "Here is the beggining of your journey, enjoy...!" %>
      </div>
    </div>

    </div>
  <% end %>
</div>

